/* Roboto Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f4f4f9;
  color: #333;
  box-sizing: border-box;
}

header {
  background-color: #282c34;
  color: white;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

main {
  padding: 20px;
  max-width: 800px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h2 {
  color: #282c34;
}

p,
ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

.details {
  display: flex;
  gap: 2rem;
}

.details .title {
  font-weight: 700;
  display: inline-flex;
}

img {
  /* max-width: 150px; */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-box {
  width: 200px;
  height: 200px;
}

ul {
  list-style-type: disc;
  padding: 0 1rem;
}

ul li {
  margin: 5px 0;
  text-align: left;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  main {
    margin: 10px;
    padding: 10px;
  }

  section {
    margin-bottom: 10px;
    padding: 10px;
  }
}

/* Made with  💙 by Stephen Adeniji */
